{{!< main}}
<div class="main_layout">
    {{> admin-sidebar }}
    <div class="content">   
        {{> admin-header }}
        <!-- other content -->
         <div class="page_management_page common_table">
            <div class="add_user">
                {{!-- <a href="/admin/page-management/add" class="add_user_btn"><i class="fa fa-circle-plus"></i> </i>Pages</a> --}}
            </div>
            <table id="page-management" class="display table cmn_table" style="width:100%">
                <thead>
                    <tr>
                        <th>Page Name</th>
                        <th>Slug</th>
                        <th>Active?</th>
                        <th style="width:150px;">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each pageList}}
                    <tr>
                        <td>{{title}}</td>
                        <td>{{slug}}</td>
                        <td>
                            <label class="radio" for="radio__toggle4">
                               {{#ifCondition status '==' 1}}
                                        <input class="radio__toggle status_toggle_btn" data-id="{{id}}" type="checkbox" checked>
                                {{else}}
                                    <input class="radio__toggle status_toggle_btn" data-id="{{id}}" type="checkbox">
                                {{/ifCondition}}
                             
                              </label>
                        </td>
                        <td> 
                            <a href="/admin/page-management/edit/{{id}}" class="action_btn"><i class=" fa fa-pen"></i></a>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>        
        </div>
    </div>
</div>
{{> footer-script }}
<script>
   
    $(document).on('click', '.status_toggle_btn', function(){
        var pageId = $(this).attr('data-id');
        if ($(this).prop('checked')) {
            var status = 1;
        } else {
           var status = 0;
        }
        $.ajax({
            url: '/admin/page-management/page-status-action',
            method: 'POST',
            data: {
              pageId:pageId,
              status:status,
            },
            success: function(response) {
              if(response.status == 'success'){
                    toastr.success(response.message);
              }else{
                    toastr.error(response.message);
              }  
             
            },
            error: function() {
              toastr.error('Something went wrong.');
            }
        });
    });
  
</script>