{{!< main}}
<div class="main_layout">
    {{> admin-sidebar }}
    <div class="content">   
        {{> admin-header }}
        <!-- other content -->
         <div class="coupon_page common_table">
            <div class="add_user">
                <a href="/admin/coupon-management/add" class="add_user_btn"><i class="fa fa-circle-plus"></i> </i>Create Coupon</a>
            </div>
            <table id="coupon" class="display table cmn_table" style="width:100%">
                <thead>
                    <tr>
                        <th>Coupon  Name</th>
                        <th>Minimum Amount</th>
                        <th>% Off</th>
                        <th>On Amount</th>
                        <th>Expiry Date</th>
                        <th style="width:150px;">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each couponList}}
                    <tr  {{#ifCondition id '==' 8}} style="background-color: #000000" {{/ifCondition}}>
                        <td>{{code}}</td>
                        <td>{{min_amount}}</td>
                        <td>{{discount_per}}%</td>
                        <td>Rs. {{discount_amount}}</td>
                        <td>{{formatTime expiry_date "DD MMM,Y"}}</td>
                        <td>
                            {{!-- <a href="/admin/coupon-management/details/{{id}}" class="action_btn"><i class=" fa fa-eye"></i></a> --}}
                            <a href="/admin/coupon-management/edit/{{id}}" class="action_btn"><i class=" fa fa-pen"></i></a>
                            {{#ifCondition id '!=' 8}}<a href="#" class="action_btn delete-coupon" data-id="{{id}}"><i class="fa fa-trash-can"></i></a>{{/ifCondition}}
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>        
        </div>
    </div>
</div>
{{> footer-script }}    
<script>

    $(document).on('click', '.delete-coupon', function(){
        var couponId = $(this).attr('data-id');
        var alertData = {
            title: 'Delete Coupon',
            text: 'Are you sure you want to delete this coupon?', 
            btnText: 'Yes, delete',
            icon: 'warning'
        };
        var url = '/admin/coupon-management/delete/'+couponId;
        alertBox(alertData, url);
    });

</script>