{{!< main}}
<div class="main_layout">
    {{> admin-sidebar }}
    <div class="content">   
        {{> admin-header }}
        <!-- other content -->
        
        <div class="usermgmt_detail_page common_table">
            <div class="user_detail_page">
                <button class="back_btn"><a href="{{redirectLink}}"><i class="fa fa-arrow-left"></i></a>
                    {{ pageTitle }}
                </button>
                <div class="add_user">
                     {{#ifCondition userInfo.user_type '==' 'user'}}
                        <a href="/admin/users-management/refund-money/{{ userInfo.id }}" class="add_user_btn">Refund Money</a>
                    {{/ifCondition}}
                    <a href="/admin/users-management/user-new" class="add_user_btn"><i class="fa fa-circle-plus"></i> </i>Add New User</a>
                </div>
            </div>
            <div class="details_page">
                <div class="profile">
                    <div class="profile_img">
                        {{#if userInfo.profile_photo}}
                            <img src="{{fixImageUrl userInfo.profile_photo}}" alt="">
                        {{else}}
                            <img src="/images/default-profile.jpg" alt="">
                        {{/if}}
                    </div>
                    <div class="profile_name">
                        <h3 class="name">{{userInfo.full_name}}</h3>
                        {{#if userInfo.display_name}}
                            <p class="at_name">@{{userInfo.display_name}}</p>
                        {{/if}}
                        <p class="at_name">{{userInfo.email}}</p>

                        <p class="at_name">{{formatDateTime userInfo.created_at}}</p>

                         <p class="at_name">Wallet Balance : ₹{{walletBalance.balance}}</p>
                    </div>
                </div>
                <div class="detail_fr_row">
                    <div class="age_lang">
                        <h3 class="detail_sm_title">Details</h3>
                        <div class="detail_con">
                            <div class="detail_box">
                                <p class="detail_data"><i class="fa fa-circle-info"></i> 
                                {{#and userInfo.gender userInfo.age}}
                                    {{userInfo.gender}}, <span>{{userInfo.age}} years</span>
                                {{else}}
                                    {{#if userInfo.gender}}
                                        {{userInfo.gender}}
                                    {{else if userInfo.age}}
                                        {{userInfo.age}}
                                    {{else }}  
                                        -  
                                    {{/if}}
                                {{/and}}
                                </p>
                            </div>
                            <div class="detail_box">
                                <p class="detail_data"><i class="fa fa-language"></i> 
                                {{#if userInfo.language}}
                                    {{userInfo.language}}
                                {{else}}
                                    N/A
                                {{/if}}
                                </p>
                            </div>
                        </div>
                    </div>
                     <div class="interest">
                        <h3 class="detail_sm_title">Services</h3>
                        <div class="detail_con">
                            {{#if userInfo.service}}
                                {{#each (commaSeprateArray userInfo.service)}}
                                <div class="detail_box">
                                    <p class="detail_data">
                                        {{this}}
                                    </p>
                                </div>
                                {{/each}}
                            {{else}}
                                <div class="detail_box">
                                    <p class="detail_data">
                                        ---
                                    </p>
                                </div>
                            {{/if}}
                        </div>
                    </div>
                    {{#ifCondition userInfo.user_type '==' 'user'}}
                        <div class="interest">
                            <h3 class="detail_sm_title">Country</h3>
                            <div class="detail_con">
                                <div class="detail_box">
                                    <p class="detail_data">
                                        {{#if userInfo.country}}
                                            {{userInfo.country}}
                                        {{else}}
                                            ---
                                        {{/if}}
                                    </p>
                                </div>
                                {{!-- <div class="detail_box">
                                    <p class="detail_data">Relationship</p>
                                </div> --}}
                            </div>
                        </div>

                        <div class="interest">
                            <h3 class="detail_sm_title">State</h3>
                            <div class="detail_con">
                                <div class="detail_box">
                                    <p class="detail_data">
                                        {{#if userInfo.state}}
                                            {{userInfo.state}}
                                        {{else}}
                                            ---
                                        {{/if}}
                                    </p>
                                </div>
                                {{!-- <div class="detail_box">
                                    <p class="detail_data">Relationship</p>
                                </div> --}}
                            </div>
                        </div>
                    {{/ifCondition}}

                    <div class="interest">
                        <h3 class="detail_sm_title">Interest</h3>
                        <div class="detail_con">
                            <div class="detail_box">
                                <p class="detail_data">
                                    {{#if userInfo.topic_name}}
                                        {{userInfo.topic_name}}
                                    {{else}}
                                        -
                                    {{/if}}
                                </p>
                            </div>
                            {{!-- <div class="detail_box">
                                <p class="detail_data">Relationship</p>
                            </div> --}}
                        </div>
                    </div>
                   
                </div>
                {{#if userInfo.about}}
                <div class="aboutme_para">
                    <h3 class="detail_sm_title">About me</h3>
                    <div class="detail_box">
                        <p class="detail_data">
                            {{userInfo.about}}
                        </p>
                    </div>
                </div>
                {{/if}}
                {{#if userInfo.availability}}
                <div class="aboutme_para">
                    <h3 class="detail_sm_title">Availability</h3>
                    <div class="detail_box">
                        <p class="detail_data">
                                {{userInfo.availability}}
                        </p>
                    </div>
                </div>
                {{/if}}
                
                <div class="selfie_sec">
                    {{#if userInfo.selfie_photo}}
                <div class="review_sec">
                    <div class="review_row">
                        <h3 class="detail_sm_title">Selfie Photo</h3>
                    </div>  
                    <div class="review_box">
                        <p class="detail_data">
                            <a href="{{fixImageUrl userInfo.selfie_photo}}" target="_blank"><img src="{{fixImageUrl userInfo.selfie_photo}}" height="200" width="300" alt=""></a>
                        </p>
                    </div>
                </div>
                {{/if}}
                {{#if userInfo.id_proof}}
                    <div class="review_sec">
                        <div class="review_row">
                            <h3 class="detail_sm_title">Id Proof</h3>
                        </div>  
                        <div class="review_box">
                            <p class="detail_data">
                                <a href="{{fixImageUrl userInfo.id_proof}}" target="_blank"><img src="{{fixImageUrl userInfo.id_proof}}" height="200" width="300" alt=""></a>
                                <h3 class="detail_sm_title mt-2">{{ userInfo.id_proof_name }}</h3>
                            </p>
                        </div>
                    </div>
                {{/if}}
                </div>
            </div> 

             {{!-- tab design start --}}
            <div class="tab_section">
                <ul class="nav nav-pills" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Recharge</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Gift</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">Service</button>
                </li>

                {{#ifCondition userInfo.user_type '==' 'user'}}
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="pills-refund-tab" data-bs-toggle="pill" data-bs-target="#pills-refund" type="button" role="tab" aria-controls="pills-refund" aria-selected="false">Refund</button>
                    </li>
                {{/ifCondition}}
                
                {{#ifCondition userInfo.user_type '==' 'listner'}}
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="pills-payout-tab" data-bs-toggle="pill" data-bs-target="#pills-payout" type="button" role="tab" aria-controls="pills-payout" aria-selected="false">Payout</button>
                    </li>
                {{/ifCondition}}

                {{#ifCondition userInfo.user_type '==' 'listner'}}
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="pills-leave-penalty-tab" data-bs-toggle="pill" data-bs-target="#pills-leave-penalty" type="button" role="tab" aria-controls="pills-leave-penalty" aria-selected="false">Leave Penalty</button>
                    </li>
                {{/ifCondition}}

                {{#ifCondition userInfo.user_type '==' 'listner'}}
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="pills-missed-penalty-tab" data-bs-toggle="pill" data-bs-target="#pills-missed-penalty" type="button" role="tab" aria-controls="pills-missed-penalty" aria-selected="false">Missed Session Penalty</button>
                    </li>
                {{/ifCondition}}

                </ul>
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active text-white" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                        <div class="chat_row right">
                            <div class="chat_col">
                                <div class="select-date">
                                    <div class="form-group">
                                        <label for="startdate">Start Date</label>
                                        <input type="date" class="form-control date" name="start_date" id="start-date-recharge" aria-describedby="" placeholder="Start Date" >
                                    </div>
                                    <div class="form-group">
                                        <label for="enddate">End Date</label>
                                        <input type="date" class="form-control date" name="end_date"  id="end-date-recharge" aria-describedby="" placeholder="End Date">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <table id="recharge-management" class="display table custom_cmn_table" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Sr. No</th>
                                    <th>Transaction Id</th>
                                    <th>Payment Id</th>
                                    <th>Recharge Amount</th>
                                    <th>GST (₹)</th>
                                    <th>Country</th>
                                    <th>State</th>
                                    <th>Transaction Status</th>
                                    <th>Transaction Date</th>
                                </tr>
                            </thead>
                            <tbody>
                            
                            </tbody>
                        </table>  
                    </div>
                    <div class="tab-pane fade text-white" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab"> 
                        <div class="chat_row right">
                            <div class="chat_col">
                                <div class="select-date">
                                    <div class="form-group">
                                        <label for="startdate">Start Date</label>
                                        <input type="date" class="form-control date" name="start_date" id="start-date-gift" aria-describedby="" placeholder="Start Date" >
                                    </div>
                                    <div class="form-group">
                                        <label for="enddate">End Date</label>
                                        <input type="date" class="form-control date" name="end_date"  id="end-date-gift" aria-describedby="" placeholder="End Date">
                                    </div>
                                </div>
                            </div>
                        </div>
                       <table id="gift-management" class="display table custom_cmn_table" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Sr. No</th>
                                    <th>Transaction Id</th>
                                    <th>Payment Id</th>
                                    {{#ifCondition userInfo.user_type '==' 'user'}}
                                        <th>Listener Name</th>
                                    {{else}}
                                        <th>User Name</th>
                                    {{/ifCondition}}
                                    {{#ifCondition userInfo.user_type '==' 'user'}}
                                        <th>Sent Gift Amount</th>
                                    {{else}}
                                         <th>Received Gift Amount</th>
                                    {{/ifCondition}}
                                    <th>GST (₹)</th>
                                    <th>Country</th>
                                    <th>State</th>
                                    <th>Admin Commission</th>
                                    <th>Transaction Status</th>
                                    <th>Transaction Date</th>
                                </tr>
                            </thead>
                            <tbody>
                            
                            </tbody>
                        </table> 
                    </div>
                    <div class="tab-pane fade text-white" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab"> 
                        <div class="chat_row right">
                            <div class="chat_col">
                                <div class="select-date">
                                    <div class="form-group">
                                        <label for="startdate">Start Date</label>
                                        <input type="date" class="form-control date" name="start_date" id="start-date-service" aria-describedby="" placeholder="Start Date" >
                                    </div>
                                    <div class="form-group">
                                        <label for="enddate">End Date</label>
                                        <input type="date" class="form-control date" name="end_date"  id="end-date-service" aria-describedby="" placeholder="End Date">
                                    </div>
                                </div>
                            </div>
                        </div>
                         <table id="service-management" class="display table custom_cmn_table" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Sr. No</th>
                                    <th>Transaction Id</th>
                                    <th>Service Type</th>
                                    <th>Transaction Type</th>
                                    {{#ifCondition userInfo.user_type '==' 'user'}}
                                        <th>Listener Name</th>
                                    {{else}}
                                        <th>User Name</th>
                                    {{/ifCondition}}
                                    <th>Minutes</th>
                                    <th>Total Amount</th>
                                    <th>Net Amount</th>
                                    <th>Admin Commission</th>
                                    <th>Transaction Status</th>
                                    <th>Transaction Date</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                            
                            </tbody>
                        </table> 
                    </div>
                    <div class="tab-pane fade text-white" id="pills-refund" role="tabpanel" aria-labelledby="pills-refund-tab">
                        <div class="chat_row right">
                            <div class="chat_col">
                                <div class="select-date">
                                    <div class="form-group">
                                        <label for="startdate">Start Date</label>
                                        <input type="date" class="form-control date" name="start_date" id="start-date-refund" aria-describedby="" placeholder="Start Date" >
                                    </div>
                                    <div class="form-group">
                                        <label for="enddate">End Date</label>
                                        <input type="date" class="form-control date" name="end_date"  id="end-date-refund" aria-describedby="" placeholder="End Date">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <table id="refund-management" class="display table custom_cmn_table" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Sr. No</th>
                                    <th>Transaction Id</th>
                                    <th>Refund Amount</th>
                                    <th>Refund Status</th>
                                    <th>Refund Date</th>
                                </tr>
                            </thead>
                            <tbody>
                            
                            </tbody>
                        </table>  
                    </div>
                    <div class="tab-pane fade text-white" id="pills-payout" role="tabpanel" aria-labelledby="pills-payout-tab">
                        <div class="chat_row right">
                            <div class="chat_col">
                                <div class="select-date">
                                    <div class="form-group">
                                        <label for="startdate">Start Date</label>
                                        <input type="date" class="form-control date" name="start_date" id="start-date-payout" aria-describedby="" placeholder="Start Date" >
                                    </div>
                                    <div class="form-group">
                                        <label for="enddate">End Date</label>
                                        <input type="date" class="form-control date" name="end_date"  id="end-date-payout" aria-describedby="" placeholder="End Date">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <table id="payout-record-management" class="display table custom_cmn_table" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Sr. No</th>
                                    <th>Transaction Id</th>
                                    <th>Payout Amount</th>
                                    <th>Description</th>
                                    <th>Transaction Date</th>
                                </tr>
                            </thead>
                            <tbody>
                            
                            </tbody>
                        </table>  
                    </div>
                    <div class="tab-pane fade text-white" id="pills-leave-penalty" role="tabpanel" aria-labelledby="pills-leave-penalty-tab">
                        <div class="chat_row right">
                            <div class="chat_col">
                                <div class="select-date">
                                    <div class="form-group">
                                        <label for="startdate">Start Date</label>
                                        <input type="date" class="form-control date" name="start_date" id="start-date-leave-penalty" aria-describedby="" placeholder="Start Date" >
                                    </div>
                                    <div class="form-group">
                                        <label for="enddate">End Date</label>
                                        <input type="date" class="form-control date" name="end_date"  id="end-date-leave-penalty" aria-describedby="" placeholder="End Date">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <table id="leave-penalty-record-management" class="display table custom_cmn_table" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Sr. No</th>
                                    <th>Leave Date</th>
                                    <th>Time Duration</th>
                                </tr>
                            </thead>
                            <tbody>
                            
                            </tbody>
                        </table>  
                    </div>
                    <div class="tab-pane fade text-white" id="pills-missed-penalty" role="tabpanel" aria-labelledby="pills-missed-penalty-tab">
                         <div class="chat_row right">
                            <div class="chat_col">
                                <div class="select-date">
                                    <div class="form-group">
                                        <label for="startdate">Start Date</label>
                                        <input type="date" class="form-control date" name="start_date" id="start-date-missed-session-penalty" aria-describedby="" placeholder="Start Date" >
                                    </div>
                                    <div class="form-group">
                                        <label for="enddate">End Date</label>
                                        <input type="date" class="form-control date" name="end_date"  id="end-date-missed-session-penalty" aria-describedby="" placeholder="End Date">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <table id="missed-session-penalty-record-management" class="display table custom_cmn_table" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Sr. No</th>
                                    <th>Session Date</th>
                                    <th>Service Type</th>
                                    <th>User Name</th>
                                </tr>
                            </thead>
                            <tbody>
                            
                            </tbody>
                        </table>  
                    </div>
                </div>
            </div>
            {{!-- tab design end --}}      
        </div>
    </div>
</div>
{{> footer-script }}
<script>
$(document).ready(function() {
    var userId = '{{ userInfo.id }}';
    var userType = '{{ userInfo.user_type }}';
    var table = $('#recharge-management').DataTable({
        dom: 'Blfrtip',
        buttons: [{
                extend:'excelHtml5',
                filename: 'recharge_tab'
        }],
        //lengthMenu: [10, 25, 50, 100, 500, 1000, 3000],
        lengthMenu: [[10, 25, 50, 100, 500, -1], [10, 25, 50, 100, 500, "All"]],
        responsive: true,
        serverSide: true,
        processing: true,
        ajax: {
          url: '/admin/users-management/get-recharge-transaction',
          type: 'GET',
          data: function(d) {
            var startDateRecharge = $('#start-date-recharge').val();
            var endDateRecharge = $('#end-date-recharge').val(); 
            d.page = Math.floor(d.start / d.length) + 1;
            d.pageSize = d.length;
            d.search = d.search || '';
            d.userId = userId;
            d.startDateRecharge = startDateRecharge;
            d.endDateRecharge = endDateRecharge;
          },
           dataSrc: function(json) {
                // Update the recordsTotal and recordsFiltered values
                table.page.info().recordsTotal = json.recordsTotal;
                table.page.info().recordsFiltered = json.recordsFiltered;
                return json.data;
            }
        },
        columns: [
            {data: null,
                render: function(data, type, row, meta) {
                        // Calculate the correct index based on current page and page length
                        var index = meta.row + 1 + (meta.settings._iDisplayStart / meta.settings._iDisplayLength) * meta.settings._iDisplayLength;
                        return index;
                    }
            },
            { 
                data: 'wallet_transaction_id',
                render: function(data, type, rowData, row) {
                  return "<a href='/admin/payment-management/details/"+rowData.id+"' target='_blank'>"+data+"</a>";
                } 
                
            },
            { data: 'transaction_id' },
            { data: 'amount' },
            { data: 'gst' },
            { 
                data: 'country',
                render: function(data, type, row) {
                    if (!data) {
                        return "-------";
                    } else {
                        return data;
                    }
                }
            },
            { 
                data: 'state',
                render: function(data, type, row) {
                    if (!data) {
                        return "-------";
                    } else {
                        return data;
                    }
                }
            },
            { data: 'transaction_status' , render: function (data, type, rowData, row) {
                    // Check if id is equal to 5
                    if (data == 'pending') {
                        return '<span class="text-warning">Pending</span>';
                    }else if(data == 'failed'){
                        return '<span class="text-danger">Failed</span>';
                    }else{
                        return '<span class="text-success">Success</span>';
                    }
                }
            },
            { data: 'created_date_time' },
        ],
        language: {
            searchPlaceholder: "Search",
            search: ""
        },
        paging: true,
        pageLength: 10 
    });

    var table1 = $('#gift-management').DataTable({
        dom: 'Blfrtip',
        buttons: [{
                extend:'excelHtml5',
                filename: 'gift_tab'
        }],
        //lengthMenu: [10, 25, 50, 100, 500, 1000, 3000],
        lengthMenu: [[10, 25, 50, 100, 500, -1], [10, 25, 50, 100, 500, "All"]],
        responsive: true,
        serverSide: true,
        processing: true,
        ajax: {
          url: '/admin/users-management/get-gift-transaction',
          type: 'GET',
          data: function(d) {
            var startDateGift = $('#start-date-gift').val();
            var endDateGift = $('#end-date-gift').val(); 
            d.page = Math.floor(d.start / d.length) + 1;
            d.pageSize = d.length;
            d.search = d.search || '';
            d.userId = userId;
            d.startDateGift = startDateGift;
            d.endDateGift = endDateGift;
          },
          dataSrc: function(json) {
            // Update the recordsTotal and recordsFiltered values
            table1.page.info().recordsTotal = json.recordsTotal;
            table1.page.info().recordsFiltered = json.recordsFiltered;
            return json.data;
          }
        },
        columns: [
            {data: null,
                render: function(data, type, row, meta) {
                        // Calculate the correct index based on current page and page length
                        var index = meta.row + 1 + (meta.settings._iDisplayStart / meta.settings._iDisplayLength) * meta.settings._iDisplayLength;
                        return index;
                    }
            },
            { 
                data: 'wallet_transaction_id',
                render: function(data, type, rowData, row) {
                  return "<a href='/admin/payment-management/details/"+rowData.id+"' target='_blank'>"+data+"</a>";
                } 
                
            },
            { 
                data: 'transaction_id',
                render: function(data, type, row) {
                    if (!data) {
                        return "-------------";
                    } else {
                        return data;
                    }
                }
            },
            { 
                data: 'gift_person_name',
                render: function(data, type, rowData, row) {
                    if (!data) {
                        return "<span class='text-danger'>Record Deleted</span>";
                    } else {
                        return "<a href='/admin/users-management/user-details/"+rowData.user_key+"' target='_blank'>"+data+"</a>";
                    }
                }
            },
            { data: 'amount' },
            { data: 'gst' },
            { 
                data: 'country',
                render: function(data, type, row) {
                    if (!data) {
                        return "-------";
                    } else {
                        return data;
                    }
                }
            },
            { 
                data: 'state',
                render: function(data, type, row) {
                    if (!data) {
                        return "-------";
                    } else {
                        return data;
                    }
                }
            },
            { data: 'service_fee' },
            { data: 'transaction_status' , render: function (data, type, rowData, row) {
                    // Check if id is equal to 5
                    if (data == 'pending') {
                        return '<span class="text-warning">Pending</span>';
                    }else if(data == 'failed'){
                        return '<span class="text-danger">Failed</span>';
                    }else{
                        return '<span class="text-success">Success</span>';
                    }
                }
            },
            { data: 'created_date_time' },
        ],
        language: {
            searchPlaceholder: "Search",
            search: ""
        },
        paging: true,
        pageLength: 10 
    });

    var table2 = $('#service-management').DataTable({
        dom: 'Blfrtip',
        buttons: [{
                extend:'excelHtml5',
                filename: 'service_tab'
        }],
        //lengthMenu: [10, 25, 50, 100, 500, 1000, 3000],
        lengthMenu: [[10, 25, 50, 100, 500, -1], [10, 25, 50, 100, 500, "All"]],
        responsive: true,
        serverSide: true,
        processing: true,
        ajax: {
          url: '/admin/users-management/get-service-transaction',
          type: 'GET',
          data: function(d) {
            var startDateService = $('#start-date-service').val();
            var endDateService = $('#end-date-service').val(); 
            d.page = Math.floor(d.start / d.length) + 1;
            d.pageSize = d.length;
            d.search = d.search || '';
            d.userId = userId;
            d.startDateService = startDateService;
            d.endDateService = endDateService;
          },
          dataSrc: function(json) {
            // Update the recordsTotal and recordsFiltered values
            table2.page.info().recordsTotal = json.recordsTotal;
            table2.page.info().recordsFiltered = json.recordsFiltered;
            return json.data;
          }
        },
        columns: [
            {data: null,
                render: function(data, type, row, meta) {
                        // Calculate the correct index based on current page and page length
                        var index = meta.row + 1 + (meta.settings._iDisplayStart / meta.settings._iDisplayLength) * meta.settings._iDisplayLength;
                        return index;
                    }
            },
            { 
                data: 'wallet_transaction_id',
                render: function(data, type, rowData, row) {
                  return "<a href='/admin/payment-management/details/"+rowData.id+"' target='_blank'>"+data+"</a>";
                } 
                
            },
            { 
                data: 'charge_type',
                
            },
            { data: 'transaction_type' },
            { 
                data: 'session_user_name',
                render: function(data, type, rowData, row) {
                    if (!data) {
                        return "<span class='text-danger'>Record Deleted</span>";
                    } else {
                        return "<a href='/admin/users-management/user-details/"+rowData.user_key+"' target='_blank'>"+data+"</a>";
                    }
                }  
            },
            { data: 'minutes' },
            { data: 'amount' },
            { 
                data: 'amount' ,
                render: function (data, type, rowData, row) {
                    // Check if id is equal to 5
                    if (rowData.transaction_type == 'debit') {
                        return rowData.amount;
                    }else{
                        var totalAmt = rowData.amount - rowData.service_fee;
                        return totalAmt;
                    }
                }
            },
            { data: 'service_fee' },
            { data: 'transaction_status' , render: function (data, type, rowData, row) {
                    // Check if id is equal to 5
                    if (data == 'pending') {
                        return '<span class="text-warning">Pending</span>';
                    }else if(data == 'failed'){
                        return '<span class="text-danger">Failed</span>';
                    }else{
                        return '<span class="text-success">Success</span>';
                    }
                }
            },
            { data: 'created_date_time' },
            {
                data: null,
                render: function(data, type, rowData, row) {
                    var actionHtml = "";
                    // Always add the delete action
                    actionHtml += '<a href="#" class="action_btn delete-transaction" data-id="' + rowData.wallet_transaction_id + '"><i class="fa fa-trash-can"></i></a>';
                    // Set the HTML content to the cell
                    return actionHtml;
                },
            },
        ],
        language: {
            searchPlaceholder: "Search",
            search: ""
        },
        paging: true,
        pageLength: 10 
    }); 

    var table3 = $('#payout-record-management').DataTable({
        dom: 'Blfrtip',
        buttons: [{
                extend:'excelHtml5',
                filename: 'payout_tab'
        }],
        //lengthMenu: [10, 25, 50, 100, 500, 1000, 3000],
        lengthMenu: [[10, 25, 50, 100, 500, -1], [10, 25, 50, 100, 500, "All"]],
        responsive: true,
        serverSide: true,
        processing: true,
        ajax: {
        url: '/admin/users-management/get-payout-record-transaction',
        type: 'GET',
        data: function(d) {
            var startDatePayout = $('#start-date-payout').val();
            var endDatePayout = $('#end-date-payout').val(); 
            d.page = Math.floor(d.start / d.length) + 1;
            d.pageSize = d.length;
            d.search = d.search || '';
            d.userId = userId;
            d.startDatePayout = startDatePayout;
            d.endDatePayout = endDatePayout;
        },
        dataSrc: function(json) {
                // Update the recordsTotal and recordsFiltered values
                table.page.info().recordsTotal = json.recordsTotal;
                table.page.info().recordsFiltered = json.recordsFiltered;
                return json.data;
            }
        },
        columns: [
            {data: null,
                render: function(data, type, row, meta) {
                        // Calculate the correct index based on current page and page length
                        var index = meta.row + 1 + (meta.settings._iDisplayStart / meta.settings._iDisplayLength) * meta.settings._iDisplayLength;
                        return index;
                    }
            },
            { 
                data: 'wallet_transaction_id',
                render: function(data, type, rowData, row) {
                return "<a href='/admin/payment-management/details/"+rowData.id+"' target='_blank'>"+data+"</a>";
                } 
                
            },
            { data: 'amount' },
            { data: 'description' },
            { data: 'created_date_time' },
        ],
        language: {
            searchPlaceholder: "Search",
            search: ""
        },
        paging: true,
        pageLength: 10 
    });

    var table4 = $('#leave-penalty-record-management').DataTable({
        dom: 'Blfrtip',
        buttons: [{
                extend:'excelHtml5',
                filename: 'leave_penalty_record_tab'
        }],
        //lengthMenu: [10, 25, 50, 100, 500, 1000, 3000],
        lengthMenu: [[10, 25, 50, 100, 500, -1], [10, 25, 50, 100, 500, "All"]],
        responsive: true,
        serverSide: true,
        processing: true,
        ajax: {
        url: '/admin/users-management/get-leave-penalty-record',
        type: 'GET',
        data: function(d) {
            var startDateLeavePenalty = $('#start-date-leave-penalty').val();
            var endDateLeavePenalty = $('#end-date-leave-penalty').val(); 
            d.page = Math.floor(d.start / d.length) + 1;
            d.pageSize = d.length;
            d.search = d.search || '';
            d.userId = userId;
            d.startDateLeavePenalty = startDateLeavePenalty;
            d.endDateLeavePenalty = endDateLeavePenalty;
        },
        dataSrc: function(json) {
                // Update the recordsTotal and recordsFiltered values
                table.page.info().recordsTotal = json.recordsTotal;
                table.page.info().recordsFiltered = json.recordsFiltered;
                return json.data;
            }
        },
        columns: [
            {data: null,
                render: function(data, type, row, meta) {
                        // Calculate the correct index based on current page and page length
                        var index = meta.row + 1 + (meta.settings._iDisplayStart / meta.settings._iDisplayLength) * meta.settings._iDisplayLength;
                        return index;
                    }
            },
            { data: 'penalty_leave_date' },
            { data: 'time_duration' },
        ],
        language: {
            searchPlaceholder: "Search",
            search: ""
        },
        paging: true,
        pageLength: 10 
    });

    var table5 = $('#missed-session-penalty-record-management').DataTable({
        dom: 'Blfrtip',
        buttons: [{
                extend:'excelHtml5',
                filename: 'missed_session_penalty_record_tab'
        }],
        //lengthMenu: [10, 25, 50, 100, 500, 1000, 3000],
        lengthMenu: [[10, 25, 50, 100, 500, -1], [10, 25, 50, 100, 500, "All"]],
        responsive: true,
        serverSide: true,
        processing: true,
        ajax: {
        url: '/admin/users-management/get-missed-penalty-record',
        type: 'GET',
        data: function(d) {
            var startDateMissedSessionPenalty = $('#start-date-missed-session-penalty').val();
            var endDateMissedSessionPenalty = $('#end-date-missed-session-penalty').val(); 
            d.page = Math.floor(d.start / d.length) + 1;
            d.pageSize = d.length;
            d.search = d.search || '';
            d.userId = userId;
            d.startDateMissedSessionPenalty = startDateMissedSessionPenalty;
            d.endDateMissedSessionPenalty = endDateMissedSessionPenalty;
        },
        dataSrc: function(json) {
                // Update the recordsTotal and recordsFiltered values
                table.page.info().recordsTotal = json.recordsTotal;
                table.page.info().recordsFiltered = json.recordsFiltered;
                return json.data;
            }
        },
        columns: [
            {data: null,
                render: function(data, type, row, meta) {
                        // Calculate the correct index based on current page and page length
                        var index = meta.row + 1 + (meta.settings._iDisplayStart / meta.settings._iDisplayLength) * meta.settings._iDisplayLength;
                        return index;
                    }
            },
            { data: 'penalty_session_date' },
            { data: 'service_type' },
            { 
                data: 'user_full_name',
                render: function(data, type, row) {
                    if (!data) {
                        return "-------------";
                    } else {
                        return data;
                    }
                }
            },
        ],
        language: {
            searchPlaceholder: "Search",
            search: ""
        },
        paging: true,
        pageLength: 10 
    });

    var table6 = $('#refund-management').DataTable({
        dom: 'Blfrtip',
        buttons: [{
                extend:'excelHtml5',
                filename: 'refund_management_tab'
        }],
        //lengthMenu: [10, 25, 50, 100, 500, 1000, 3000],
        lengthMenu: [[10, 25, 50, 100, 500, -1], [10, 25, 50, 100, 500, "All"]],
        responsive: true,
        serverSide: true,
        processing: true,
        ajax: {
          url: '/admin/users-management/get-refund-transaction',
          type: 'GET',
          data: function(d) {
            var startDateRefund = $('#start-date-refund').val();
            var endDateRefund = $('#end-date-refund').val(); 
            d.page = Math.floor(d.start / d.length) + 1;
            d.pageSize = d.length;
            d.search = d.search || '';
            d.userId = userId;
            d.startDateRefund = startDateRefund;
            d.endDateRefund = endDateRefund;
          },
           dataSrc: function(json) {
                // Update the recordsTotal and recordsFiltered values
                table.page.info().recordsTotal = json.recordsTotal;
                table.page.info().recordsFiltered = json.recordsFiltered;
                return json.data;
            }
        },
        columns: [
            {data: null,
                render: function(data, type, row, meta) {
                        // Calculate the correct index based on current page and page length
                        var index = meta.row + 1 + (meta.settings._iDisplayStart / meta.settings._iDisplayLength) * meta.settings._iDisplayLength;
                        return index;
                    }
            },
            { 
                data: 'wallet_transaction_id',
                render: function(data, type, rowData, row) {
                  return "<a href='/admin/payment-management/details/"+rowData.id+"' target='_blank'>"+data+"</a>";
                } 
                
            },
            { data: 'amount' },
            { data: 'transaction_status' , render: function (data, type, rowData, row) {
                    // Check if id is equal to 5
                    if (data == 'pending') {
                        return '<span class="text-warning">Pending</span>';
                    }else if(data == 'failed'){
                        return '<span class="text-danger">Failed</span>';
                    }else{
                        return '<span class="text-success">Success</span>';
                    }
                }
            },
            { data: 'created_date_time' },
        ],
        language: {
            searchPlaceholder: "Search",
            search: ""
        },
        paging: true,
        pageLength: 10 
    });


    $('#start-date-recharge').on('change', function(){
        table.draw();
    });

    $('#end-date-recharge').on('change', function(){
        table.draw();
    });


    $('#start-date-gift').on('change', function(){
        table1.draw();
    });

    $('#end-date-gift').on('change', function(){
        table1.draw();
    });


    $('#start-date-service').on('change', function(){
        table2.draw();
    });

    $('#end-date-service').on('change', function(){
        table2.draw();
    });

    $('#start-date-payout').on('change', function(){
        table3.draw();
    });

    $('#end-date-payout').on('change', function(){
        table3.draw();
    });

    $('#start-date-leave-penalty').on('change', function(){
        table4.draw();
    });

    $('#end-date-leave-penalty').on('change', function(){
        table4.draw();
    });

    $('#start-date-missed-session-penalty').on('change', function(){
        table5.draw();
    });

    $('#end-date-missed-session-penalty').on('change', function(){
        table5.draw();
    });

    $('#start-date-refund').on('change', function(){
        table6.draw();
    });

    $('#end-date-refund').on('change', function(){
        table6.draw();
    });
});

$(document).on('click', '.delete-transaction', function(){
        var walleteTransactionId = $(this).attr('data-id');
        var alertData = {
            title: 'Delete Transaction',
            text: 'Are you sure you want to delete this transaction?', 
            btnText: 'Yes, delete',
            icon: 'warning'
        };
        var url = '/admin/payment-management/delete-transaction/'+walleteTransactionId;
        alertBox(alertData, url);
});
</script>